[Desktop Entry]
Type=Application
Name=osu-offset
Comment=Recommend a universal Offset for osu!stable from live process hit error
Exec=osu-offset
Icon=io.github.gaavin.osu-offset
Terminal=true
Categories=Utility;
StartupNotify=false
